{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <p3 align="center">Did you know? Aarjit is intelligent, smart, genius etc etc.</p3>
    <br></br>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}